<!-- 登陆页 开始 -->
<script type="text/javascript" charset="utf-8">
function checkOpenIDFormat(){
  var input = $('#openid_input').val();
  if ( input.indexOf('http://') < 0 && input.indexOf('https://') < 0 ){
    $('#openid_identifier').val('<%= CONFIG['eycp_root'] %>' + input);
  }else{
    $('#openid_identifier').val(input);
  };
}
</script>


<h2><%= t("login") %></h2>
<hr />

<div class="prepend-1">
<% form_tag(user_session_path, :class => "uniForm", :id => "loginForm", :onsubmit => "checkOpenIDFormat()" ) do -%>
  <%= error_messages_for 'user_session' %>

  <label for="openid_input"><em class="required">*</em>星尚通行证用户名</label>
  <%= text_field_tag 'openid_input', nil, :class => "span-6 title openid_input" %>
  <input type="hidden" name="openid_identifier" value="" id="openid_identifier">	
  <p class="form_hint">
    <span>请输入您的通行证用户名<br />如果您是人气美食网站老用户，您的帐号已经升级到通行证，请输入您的原人气美食用户名</span>
  </p>  

  <%= check_box_tag :remember_me, 1, true %><%= label_tag :remember_me, t("remember_me") %><br />
  <br />
  <%= submit_tag t("login"), :class => 'submit' %>

<% end %>
</div>
<!-- 登陆页 结束 -->